@charset "UTF-8";
/* CSS Document */
@font-face{
	src:url(Fontboxvn-Lato-251/lato-regular.ttf);
	font-family:lato;
}
html{
	scroll-behavior:smooth;
}
body{
	font-family:lato;
}
*{
	padding:0px;
	margin:0px;
}
#all-layout{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
/*navigation*/
.navigation {
	width:250px;
	height:100%;
	background-color: white;
	float:left;
	position: fixed;
	top:0px;
	
}
.logo-menu-button {
	width: 250px;
	height: 550px;
	margin-top: 140px;
}
.navigation .logo-menu-button .logo{
	width: 138px;
	height:138px;
	margin-left: 56px;
}
.navigation .logo-menu-button .menu{
	width: 250px;
	height:360px;
}
.navigation .logo-menu-button .menu ul{
	list-style-type: none;
	
}
.navigation .logo-menu-button .menu ul li{
	text-align: center;
	font-size: 20px;
	font-weight: 500px;

}
.navigation .logo-menu-button .menu ul li a{
	color: #B21F1F;
	line-height: 50px;
	text-decoration: none;
	transition: 0.7s;
	font-family:lato;
}
.navigation .logo-menu-button .menu ul li a:hover{
	color:#fdbb2b;
	
}
.navigation .logo-menu-button .button{
	width: 160px;
	height:50px;
	border-radius: 50px;
	margin-left: 46px;
	background-image: linear-gradient(to right, #27002d , #550062);
	transition:0.9s;
	
}
.navigation .logo-menu-button .button a{
	color:white;
	font-size: 20px;
	font-weight: 500px;
	line-height: 47px;
	margin-left: 35px;
	text-decoration: none;
	display: block;
}

.navigation .logo-menu-button .button:hover{
	background-image: linear-gradient(to right, #1a2a6c ,#B21F1F );
	
}
/*header*/
#header {
	width: 1670px;
	height: 1080px;
	background-image: url(img/banner.jpg);
	float: right;
	text-align: center;
}
#header h1{
	margin-top:250px;
	margin-left: 500px;
	font-size: 80px;
	color:white;
}
#header h2{
	font-size:50px;
	color:white;
}
/*brand-name*/
.brand-name {
	width: 1670px;
	height:900px;
	background-image: url(img/banner2.jpg);
	float:right;
}
.brand-name .brand-text{
	width: 750px;
	height: 400px;
	color:white;
	font-size:20px;
	line-height:35px;
	margin-left: 65px;
	margin-top:480px;
}
/*feature*/
#feature {
	width: 1670px;
	height: 2600px;
	background-image: linear-gradient(#000000,#27002d);
	float: right;
	padding-top:50px;
	transition:0.5s;
}
#feature .perk h1{
	color:white;
	text-align: center;
}
#feature .perk .white-layout{
	width:450px;
	height:670px;
	background-color:white;
	float: left;
	margin-left: 66px;
	margin-top: 66px;
	text-align: center;
	padding-top:40px;
	padding-left: 12px;
	padding-right: 12px;
}
#feature .perk .white-layout img{
	margin-left: auto;
}
#feature .perk .white-layout h1{
	color:#58595b;
	font-size: 35px;
	line-height: 50px;
}
#feature .perk .white-layout h2{
	color:#58595b;
	font-size: 25px;
	line-height: 40px;
}
#feature .perk .white-layout p{
	color:#58595b;
	font-size: 20px;
	line-height: 35px;
}
#feature .perk .white-layout:hover{
	box-shadow: 0px 0px 6px;
	transition: 0.5s;
}
#feature .layout-button2{
	width: 1670px;
	height:94px;
	margin-top:2400px;
}
#feature .layout-button2 .button2{
	width: 662px;
	height: 94px;
	border-radius: 50px;
	margin-left: 504px;
	background-image: linear-gradient(to right, #27002d , #550062);
	transition:0.9s;
}
#feature .layout-button2 .button2:hover{
	background-image: linear-gradient(to right, #1a2a6c ,#B21F1F );
	cursor: pointer;
}
#feature .layout-button2 .button2 img{
	width:74px;
	height:74px;
	float:right;
	margin-right: 17px;
	margin-top: 10px;
}
#feature .layout-button2 .button2 h2 a{
	text-decoration: none;
	color: white;
	line-height: 90px;
	float: left;
	margin-left: 50px;
	font-size: 42px;
}

/*how-to-apply*/
#how-to-apply{
	width:1670px;
	height:750px;
	float:right;
	padding-top:80px;
}
#how-to-apply .layout-how-to-apply{
	width: 1450px;
	height:500px;
	margin-left:111px;
	text-align: center;
}
#how-to-apply .layout-how-to-apply .layout-apply{
	width:450px;
	height:500px;
	float:left;
	margin-left: 6px;
	padding-left: 7px;
	padding-right:7px;
}
#how-to-apply .layout-how-to-apply h1{
	font-size: 35px;
	color:#58595b;
	line-height: 50px;
}
#how-to-apply .layout-how-to-apply .layout-apply p{
	font-size: 20px;
	ccolor:#58595b;
	line-height: 35px;
}
#how-to-apply .layout-how-to-apply-text{
	width:1450px;
	height:300px;
	margin-left:111px;
}

#how-to-apply .layout-how-to-apply-text .sign-up{
	width: 470px;
	height: 94px;
	border-radius: 50px;
	margin-left: 504px;
	background-image: linear-gradient(to right,  #27002d , #550062);
	transition:0.9s;
	margin-top:130px;
}
#how-to-apply .layout-how-to-apply-text .sign-up:hover{
	background-image: linear-gradient(to right, #1a2a6c ,#B21F1F );
	cursor: pointer;
}
#how-to-apply .layout-how-to-apply-text .sign-up h2 a{
	text-decoration: none;
	color: white;
	line-height: 90px;
	float: left;
	margin-left: 50px;
	font-size: 42px;
}
#how-to-apply .layout-how-to-apply-text .sign-up img{
	width:74px;
	height:74px;
	float:right;
	margin-right: 17px;
	margin-top: 10px;
}
/*experience*/
#experience{
	width: 1670px;
	height: 670px;
	background-image: linear-gradient(#27002d,#550062);
	float:right;
	text-align:center;
	padding-top:50px;
}
#experience video{
	width: 1280px;
	height: 720px;
}
#experience .layout-experience {
	width: 1670px;
	height: 300px;
}
#experience .layout-experience .layout-experience-inside{
	width: 500px;
	height: 300px;
	float:left;
	margin-left: 30px;
	color: white;
}
#experience .layout-experience .layout-experience-inside h1{
	font-size:30px;
	color:white;
	line-height:80px;
}
#experience .layout-experience .layout-experience-inside p{
	font-size: 20px;
	line-height: 35px;
}
/*footer*/
.footer{
	width: 1670px;
	height:70px;
	background-color: #1A2A6C;
	float:right;
	padding-top:30px;
	text-align:center;
}
.footer p{
	color:white;
	font-size: 25px;
}